*{
    box-sizing: border-box;
}

body{
    margin:0;
    padding:0;
    font-family: 'Noto Sans KR', sans-serif;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

.container{
    width:960px;
    margin:0 auto;
}

nav{
    height:80px;
    background-color: burlywood;
    line-height: 80px;
}

nav::after{
    content:"";
    display:block;
    clear:both;
}

.nav-logo{
    font-size: 30px;
    float: left;
    margin: 0;
}

.nav-menu{
    float:right;
}

.nav-btn{
    list-style-type:none;
    margin:0;
}

ul.nav-btn > li{
    float:left;
    margin-left:25px;
    font-size: 20px;
    font-weight: bold;
}

/*header*/
.hd{
    position: relative;
    height: 600px;
    /* 가시적으로 확인하기 위해서는 배경색 깔아줘서 확인 */
    text-align: center;
}

.hd-title{
    font-size:80px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-top: 200px; 
}

.hd-content{
    font-size: 25px;
}

.hd:before{
    content: "";
    display: block;
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity:0.5;
    background-image: url(./love-g4f7cf0347_1280.jpg);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat;
}

.hd.container{
    position: relative;
    color:black;
}

/*section*/
.sec {
    text-align: center;
    padding: 100px 0;
    background-color: beige;

}

.sec article{
    float: left;
    width: 300px;
    margin-right: 30px;
}

.sec article:last-child{
    margin-right: 0;
}

.sec article img{
    width:100%;
    height: auto;
}

.card-img{
    overflow:hidden;
    width: 300px;
    height: 280px;
}

.sec::after{
    content: "";
    display:block;
    clear:both;
}

/*footer*/

.ft{
    padding: 15px;
    text-align: center;
    background-color: bisque;
    font-weight: bold;
}
